<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-laugh-beam fa-4x"></i>
    <h1>Welcome to Joke Bank!</h1>
    <p class="secret-text-main">Happiness increases when shared with others.</p>
    <hr>
    <a class="btn btn-light btn-lg button" href="/register" role="button"><p>Register</p></a>
    <a class="btn btn-dark btn-lg button" href="/login" role="button"><p>Login</p></a>

  </div>
</div>

<%- include('partials/footer') %>
