<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="far fa-laugh-beam fa-4x"></i>
    <h1>LIVE every moment, LAUGH every day!</h1>
      <div class="content">
        <% usersWithSecrets.forEach(function(user)
        { %>
          <p class="secret-text"><%= user.secret %></p>
        <% }); %>
      </div>
    <hr> 
    <a class="btn btn-dark btn-lg button" href="/submit" role="button"><p>Share a Joke</p></a>
    <a class="btn btn-light btn-lg button" href="/logout" role="button"><p>Log Out</p></a>
    
  </div>
</div>

<%- include('partials/footer') %>
